@charset "UTF-8";
html {
  font-size: 62.5%; }

body {
  font-size: 1.6rem;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro", "Hiragino Kaku Gothic Pro", "メイリオ", "Meiryo", sans-serif; }

li {
  list-style: none; }

#wrapper {
  padding-top: 47px;
  padding-left: 20px;
  padding-right: 20px; }

/*-----------------------------------------
共通
-----------------------------------------*/
.contents {
  border-bottom: solid 1px #ccc;
  padding-bottom: 50px;
  padding-top: 47px; }

/*-----------------------------------------
ナビゲーション
-----------------------------------------*/
nav {
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 0;
  left: 0;
  font-family: 'Quicksand', sans-serif; }
  nav ul {
    overflow: hidden; }
    nav ul li {
      float: left;
      width: 33.333%;
      text-align: center;
      border-bottom: solid 1px #000;
      position: relative;
      overflow: hidden; }
      nav ul li a {
        display: block;
        padding: 15px;
        color: #333;
        text-decoration: none;
        background: rgba(255, 255, 255, 0.9); }
    nav ul .active {
      background: rgba(0, 0, 0, 0.9);
      color: #fff; }

/*-----------------------------------------
	コンテンツ共通
-----------------------------------------*/
.lead {
  ont-weight: bold;
  font-size: 5rem;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-bottom: 30px; }

table {
  margin: 0 auto; }
  table th {
    padding-right: 20px; }
  table th, table td {
    text-align: left;
    padding-top: 10px; }

/*-----------------------------------------
	rightコンテンツ
-----------------------------------------*/
/*About*/
.about .myImage {
  overflow: hidden;
  width: 150px;
  height: 150px;
  margin: 0 auto;
  border-radius: 50%;
  border: solid 5px #c1c1c1;
  margin-bottom: 30px; }
  .about .myImage img {
    width: 100%;
    height: auto; }

.about .skill {
  margin-top: 30px; }
  .about .skill h2 {
    text-align: center; }
  .about .skill dl {
    margin: 10px auto 0;
    display: table; }
  .about .skill dt, .about .skill dd {
    display: table-cell;
    vertical-align: middle; }
  .about .skill dt {
    width: 80px;
    text-align: right;
    padding-right: 10px; }
  .about .skill dd {
    width: 280px;
    height: 20px;
    background: #c7c7c7;
    text-indent: -9999px;
    margin-left: 20px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    overflow: hidden;
    position: relative; }
    .about .skill dd span {
      position: absolute;
      top: 0;
      left: 0;
      width: 0;
      height: 20px; }
  .about .skill .html5 dd span {
    background: #6bb9f2; }
  .about .skill .css3 dd span {
    background: #e3f26b; }
  .about .skill .javascript dd span {
    background: #f26b6b; }
  .about .skill .jquery dd span {
    background: #f29b6b; }
  .about .skill .php dd span {
    background: #6bf27c; }
  .about .skill .wordpress dd span {
    background: #737373; }

/*contact*/
.contact .sns {
  margin-top: 20px;
  text-align: center; }

.contact a {
  color: #70aae6; }

/*-----------------------------------------
	leftコンテンツ
-----------------------------------------*/
/*Works*/
.works section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end; }
  .works section a {
    color: #000; }
  @media screen and (min-width: 452px) {
    .works section {
      margin-right: -20px; } }

.works article {
  margin-bottom: 30px; }
  @media screen and (min-width: 452px) {
    .works article {
      margin-right: 20px; } }
  .works article h3 {
    text-align: left;
    margin-bottom: 5px;
    line-height: 1.3; }
  .works article p {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 5px; }
    .works article p span {
      font-weight: bold; }
  .works article .worksImage {
    border: solid 3px #000; }
    .works article .worksImage:hover {
      opacity: 0.5;
      transition: 0.5s; }
    .works article .worksImage img {
      width: 100%;
      height: auto; }
